* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    color: red;
}

footer {
    color: red;
}

#hero-section {
    color: red;
}

#business-section {
    color: red;
}

#grow-section {
    color: red;
}

#provide-section {
    color: red;
}

#customers-section {
    color: red;  
}
